<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8"/>
  <title>PRIO - What should I work on right now?</title>
</head>
<body>
<h1>edit description</h1>
<form action="/save" method="post" th:object="${task}">
  <input type="hidden" name="id" th:value="*{id}"/>
  <input class="form-control" type="text" name="description" th:value="*{description}"
         required="required"
         oninvalid="this.setCustomValidity('Please enter a description')"
         oninput="setCustomValidity('')"/>
  <button class="btn btn-primary">save</button>
</form>
</body>
</html>
