<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
  <meta charset="UTF-8"/>
  <title>PRIO - What should I work on right now?</title>
</head>
<body>
<form action="/">
  <button type="submit">
    <span th:text="${home}"/>home
  </button>
</form>
<form action="/prioritize">
  <button type="submit">
    <span th:text="${prioritize}"/>prioritize
  </button>
</form>
<h1>
  your tasks
</h1>
<form action="/addtask">
  <br/>
  <div>
    <input class="form-control" name="description" type="text"/>
  </div>
  <div>
    <button type="submit">add task</button>
  </div>
</form>
<table class="table">
  <thead>
  <tr class="table-header">
    <th>description</th>
    <th class="iconColumn"></th>
    <th class="iconColumn"></th>
  </tr>
  </thead>
  <tbody>
  <tr th:each="task : ${tasks}">
    <td class="column" th:text="${task.description}"/>
    <td class="column iconColumn">
      <a style="text-decoration: none" th:href="${'/' + task.id + '/edit'}">
        edit
      </a>
    </td>
    <td class="column iconColumn">
      <a style="text-decoration: none" th:href="${'/' + task.getId() + '/delete'}">
        delete
      </a>
    </td>
  </tr>
  </tbody>
</table>
</body>
</html>
