<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
  <meta charset="UTF-8"/>
  <title>PRIO - What should I work on right now?</title>
</head>
<body>
<h1 class="title">
  which one is more important?
</h1>
<a style="text-decoration: none"
   th:href="${'/decide?id1=' + firstone.getId()
   + '&amp;id2=' + secondone.getId()
   + '&amp;ordered=' + ordered}">
  <div th:object="${firstone}">
    <span th:text="*{description}"/>
  </div>
</a>
<a style="text-decoration: none"
   th:href="${'/decide?id1=' + secondone.getId()
   + '&amp;id2=' + firstone.getId()
   + '&amp;ordered=' + ordered}">
  <div th:object="${secondone}">
    <span th:text="*{description}"/>
  </div>
</a>
</body>
</html>
